html, body {
  margin: 0;
  padding: 0;
  font: normal 14px/1.5 sans-serif;
  background: rgb(26, 27, 26);
}

canvas {
  display: block;
}

section{
  color: black;
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 600px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}
